body {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    margin: 3%;
    color: rgb(40,40,40);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

footer {
    padding-top: 80px;
    margin: auto;
    font-size: 1.2vw;
}

.movingInfo, .title{
    padding: 2vmin; 
    border-radius: 25px;
}

.title {
    border: rgb(212, 212, 212) .5px solid;
    padding-bottom: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.title h4 {
    font-size: 1vw;
    text-align: center;
    margin: .75vh 0;
    height: 2vh;
    padding: 5% 0 5% 1vw;
    border-left:rgb(237, 237, 237) 3px solid;
}

.title h1 {
    margin: 0;
    font-size: 4vw;
}

.title span {
    font-size: 1.2vw;
    margin-left: .5vw;
}

a {
    color: rgb(40,40,40);
    text-decoration:none;
}

.titleBox, .projectsList {
    display: flex;
    flex-direction: row;
}

.titleBox {
    justify-content: center;

}

#myImg {
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.movingInfo, .projectsList {
    box-shadow: 6px 6px 10px  rgba(230, 230, 230, 0.6);
    -moz-box-shadow: 6px 6px 10px  rgba(230, 230, 230, 0.6);
    -webkit-box-shadow: 6px 6px 10px  rgba(230, 230, 230, 0.6);
    -o-box-shadow: 10px 10px 10px  rgba(230, 230, 230, 0.6);
    border-radius: 25px;
}



.movingInfo {
    background-color: rgb(231, 231, 231);
    font-size: 2.5vmin;
    border-radius: 25px;
    margin-top: 1vw;
}


.socials {
    position: relative;
    top: 65%;
    transform: translateY(-100%);
    padding-bottom: 5%;
}


#linkedIn:hover {
    color: rgb(0, 119, 181);
}

#youtube:hover {
    color: red;
}

#github:hover {
    fill: #6e5494;
}

#oldWeb:hover{
    color: #459fff;
}

#pdf:hover {
    color: #459fff;
}



.projectsList {
    background-color: rgb(231, 231, 231);
    width: 20vw;
    height: 30vh;
    margin-top: 5vh;
}

#project1 {
    padding: 0vh 1vw;
}

/* ---------------- ANIMATIONS ---------------------------------- */
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }


/* ---------------- Resizing Styles ---------------------------------- */
/* @media only screen and (max-width: 1250px){

} */
