body {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    margin: 3%;
    color: rgb(40,40,40);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

footer {
    color: rgb(166, 166, 166);
    text-align: center;
    padding: 3px;
    margin-top: auto;
}

.title h4 {
    font-size: 1vw;
    text-align: center;
    margin: .75vh 0;
    height: 2vh;
    padding: 1vh 0 1vh 1vw;
    border-left:rgb(237, 237, 237) 3px solid;
}

.title h1 {
    margin: 0;
    font-size: 4vw;
}

.title span {
    font-size: .9vw;
}

a {
    color: rgb(40,40,40);
    text-decoration:none;
}

.titleBox, .resumeBox, .projectsList {
    display: flex;
    flex-direction: row;
}

.resumeBox {
    margin: .5vh 0;
    width: 10vw;
}

.projectsList {
    background-color: rgb(231, 231, 231);
    width: 20vw;
    height: 30vh;
    margin-top: 5vh;
}

#project1 {
    padding: 0vh 1vw;
}


.titleBox, .projectsList {
    /* box-shadow: 10px 10px 5px rgb(189, 189, 189); */
    box-shadow: 6px 6px 10px  rgba(230, 230, 230, 0.6);
    -moz-box-shadow: 6px 6px 10px  rgba(230, 230, 230, 0.6);
    -webkit-box-shadow: 6px 6px 10px  rgba(230, 230, 230, 0.6);
    -o-box-shadow: 10px 10px 10px  rgba(230, 230, 230, 0.6);
    border-radius: 25px;
}

.movingInfo, .title {
    padding: 2vmin;
    border-radius: 25px;
}

.title {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 13.5vw;
    border: rgb(212, 212, 212) .5px solid;
    border-right: none;
    padding-bottom: 0;
}

.movingInfo {
    background-color: rgb(231, 231, 231);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 80%;
    font-size: 2.5vmin;
    border-left: none;
    
}

.file {
    padding-top: 1.2vh;
}

.pdf:hover {
    color: #459fff;
}

.socials {
    border: rgb(212, 212, 212) .5px solid;
    border-left: none;
    border-right: none;
}

.socials marquee {
    padding-top: 1.75vh;
    width: 4.5vw;
}

#linkedIn:hover {
    color: rgb(0, 119, 181);
}

#youtube:hover {
    color: red;
}

#github:hover {
    fill: #4b4b4b;
}

#oldWeb:hover{
    color: #459fff;
}

/* ---------------- ANIMATIONS ---------------------------------- */
.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }
